
#first {
  width: 300px; 
  border: 1px solid red; 
  display: inline-block; 
  float: left; 
}
#second {
  width: 300px; 
  border: 1px solid red;  
  display: inline-block; 
  float: center;
  padding-right:px; 
}
#third {
  width: 300px; 
  border: 1px solid red; 
  display: inline-block; 
  float: left; 
}
#fourth {
  width: 300px; 
  border: 1px solid red; 
  display: inline-block; 
  float: right;

}
# div2 {
  width:300px; 
  border: 1px solid black;
  display: inline-block; 
}
